html {
  line-height: 1.15;
  height: 100%;
  background: black;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  transform: scale(-1, 1);
}

#wrapper {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#texts {
  display: inline-block;
  text-align: left;
}

.text {
  font-size: 12vh;
  font-family: 'Helvetica Now Text', Sans-Serif;
  font-weight: bold;
  white-space: nowrap;
  color: white;
}
